<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="navigation nav-item">
        <button
          (click)="onGetAllProducts()"
          class="button-nav btn btn-outline-info btn-sm"
        >
          All Product
        </button>
      </li>
      <li class="nav-item">
        <button
          (click)="onGetSelectProduct()"
          class="button-nav btn btn-outline-info btn-sm"
        >
          Selected
        </button>
      </li>
      <li class="nav-item ml-5">
        <button
          (click)="onGetAvailableProduct()"
          class="button-nav btn btn-outline-info btn-sm"
        >
          Available
        </button>
      </li>
      <li class="nav-item ml-5">
        <button
          (click)="onAddProducts()"
          class="button-nav btn btn-outline-info btn-sm"
        >
          New Products
        </button>
      </li>
    </ul>
    <ul>
      <li class="navbar navbar-nav">
        <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
          <input ngModel name="keyWord" type="text" />
          <button class="btn btn-sm btn-outline-info ml-2">
            <span class="search fa fa-search"></span>
          </button>
        </form>
      </li>
    </ul>
  </div>
</nav>
