<div class="container">
  <table class="table table-striped table-hover table-bordered" *ngIf="state">
    <thead>
      <tr>
        <th class="">Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Selected</th>
        <th>Available</th>
        <th>Selecting</th>
        <th>AddAvailable</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <app-product-items
        [product]="p"
        *ngFor="let p of state.products"
        style="display: contents"
      ></app-product-items>
    </tbody>
  </table>
</div>
